.randomizer-container {
  height: 100%;
}

.randomizer-text-container {
  height: 75%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.randomizer-character {
  font-family: 'FolkPro', sans-serif;
  text-align: center;
}

.randomizer-button-container {
  width: 100%;

  position: fixed;
  bottom: 0;
}

.randomizer-button {
  width: 50%;
}

.randomizer-button-border {
  border-right: 1px solid rgba(0,0,0,.125);
}
